html,
body {
  background-color: #333;
  color: #eee;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  padding: 1rem;
}

a {
  color: #06f;
}

.cols {
  display: flex;
  flex-wrap: wrap;
}

.cols--row {
  flex-direction: row;
}

.cols > * {
  flex: 33% 0 0;
}

.release {
  width: 90vw;
  margin: 0 auto;
}

.release__header {
  text-align: center;
}

.channel {
  min-width: 20rem;
}

.channel__urls {
  list-style: none;
  margin: 0;
  padding: 0;
}

.channel__url {
  min-width: 8rem;
}

#container {
  width: 95vw;
  margin: 0 auto;
  padding: 0;
  overflow-x: auto;
}

.row__label {
  fill: #eee;
  stroke: none;
  font-size: 12px;
}

.row__point:hover {
  stroke-width: 4px;
}
